/* Убираем отступы и padding у всех элементов */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Убираем стили списков */
ul,
ol {
  list-style: none;
}

/* Убираем подчеркивание у ссылок */
a {
  text-decoration: none;
}

/* Сбрасываем стили кнопок */
button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* Убираем стандартные стили для полей ввода */
input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}

/* Убираем стандартные стили для изображений */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Убираем стандартные стили для таблиц */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Делаем body и html на всю высоту */
html,
body {
  height: 100%;
}

/* Делаем  фон для body  */

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  background: linear-gradient(45deg, #0A1A0A, #0F1C26, #1C1C1C, #1A0A1A);
  background-size: 400% 400%;
  animation: gradientBG 6s ease infinite;
  font-family: "Fjalla One", serif;
  font-weight: 400;
  font-style: normal;
  color: #e6f6f6
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}